/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.layoutHeight {
  height: 100dvh;
  background: #afafaf !important;
}
.layoutContainer {
  min-height: 100vh;
}
.LayoutHeight2 {
  min-height: 75vh;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
}
.css-yfo96e {
  padding: 0 !important;
}
