.logoMuni2 {
  height: 100px !important;
  padding: 10px;
}
.linksSidebar {
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}
.linksSidebar:hover {
  color: #1f89f6;
  text-decoration: underline;
}
.css-ciy9n4-MuiPaper-root-MuiAppBar-root {
  background-color: #1f89f6 !important;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #ffffff !important;
}
.logOut {
  margin-top: 35px;
  margin-left: -25px;
}
.footer{
  font-size: small;
}
.css-ancrnh-MuiButtonBase-root-MuiIconButton-root{
  background-color: rgba(196, 191, 191, 0.603) !important;
}

.logoMuni2 {
  height: 50px; 
}


.logOut {
  color: rgb(255, 255, 255); 
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
